@media (min-width: 360px) {
  * {
    margin: 0;
    padding: 0;
    color: white;
  }

  body {
    font-family: "Sahitya", serif;
    background: url("https://images.unsplash.com/photo-1583161056973-c0375771efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1206&q=80")
      no-repeat center/cover;
  }

  h1 {
    font-family: "Fondamento", cursive;
    text-align: center;
    font-size: 3rem;
    padding: 0;
  }

  h2 {
    font-family: "Fondamento", cursive;
    font-size: 2rem;
    text-shadow: 8px 5px 3px black;
  }

  p {
    text-shadow: 4px 4px 3px black;
  }

  header {
    padding: 1.2rem;
    background: url("https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
      no-repeat center/cover;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  img {
    padding: 1rem;
  }
  nav a {
    background: grey;
    padding: 0.2rem 1rem;
    border: 1px solid white;
    width: 3rem;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: white;
  }

  button {
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgb(4, 140, 185);
    color: white;
    border: 2px solid white;
    font-weight: bold;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .wrapper p {
    padding: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    background: url("https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1429&q=80")
      no-repeat center/cover;
  }

  footer a img {
    height: 2rem;
    width: 2rem;
    padding: 0 0.5rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .credit {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding: 1rem;
    align-items: center;
    color: white;
  }

  .credit button {
    margin: -1.3rem 0 1.3rem 0;
  }
}

@media (min-width: 800px) {
  nav {
    flex-direction: row;
    width: 20rem;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
  h1 {
    text-align: left;
  }

  .wrapper {
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    justify-items: right;
  }

  .container {
    justify-content: flex-start;
    padding: 0.5rem 2rem;
  }
}

/* deskptop animations*/

@media (pointer: fine) {
  @keyframes navHover {
    from {
      background: grey;
      color: white;
    }
    to {
      background: white;
      color: grey;
    }
  }

  a:hover {
    font-weight: bold;
  }
  nav a:hover {
    animation-name: navHover;
    animation-duration: 2s;
  }
}

/*wide screen */

@media (min-width: 1920px) {
  .wrapper {
    width: 60%;
  }
  .container {
    justify-content: center;
  }
  .form h2 {
    text-align: center;
    padding: 1rem;
  }
  .contact {
    display: flex;
  }
  .contact p {
    padding: 1rem;
  }
  button {
    margin-left: 1rem;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .imgs {
    padding: 1rem 0 0.5rem 0;
  }

  .credit {
    padding-bottom: 3.3rem;
  }
}
